.search-bar {
    position: relative;
    width: 100%;
    .search-bar__icon {
        position: absolute;
        top: 8px;
        left: 12px;
    }
    .search-bar__input {
        input{
            border-radius: 1rem;
            padding: 8px 4rem ;
            background-color: #f0f0f0;
            width:50%;
            cursor: pointer;
            transition: 1s;
        }
        input:hover {
            width:100%;
        }
        input:focus {
            width:100%;
            outline:none;
        }
    }
   
}
.search-bar:hover {
    cursor: pointer;
    width: 100%;
}
.search-bar:active {
    width: 100%;
}
