<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>xin chào {{fullName}}</p>
    <p>cảm ơn bạn đăng ký website của chính tôi. Để Xác thực tại khoản làm ơn click vào link bên dưới</p>
    <a href={{activeLink}} target="_blank">Kích hoạt tài khoản<a>
            <p>Nếu bạn có bất kì câu hỏi và cần trợ giúp, hãy liên hệ với chúng tôi</p>
            <p>Cảm ơn bạn đã chọn mua sắm tại cửa hàng của chúng tôi. Chúng tôi rất hân hạnh được phục vụ quí khách<p>
                <p>Thân ái</p>
</body>

</html>