.icon-container {
    cursor: pointer;
   .fa-facebook:hover{
        color:#0966FF;
   }
   .fa-square-instagram:hover {
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
   }
   .fa-shopify:hover {
        color: #F84C2E;
   }
}